<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.higo.leo.try_on_cloth">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application  tools:replace="android:label" android:label="try_on_cloth" android:icon="@mipmap/ic_launcher">
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
